# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('sp500hst.txt', sep = ',', names = ["date", "ticker", "open", "high", "low", "close", "volume"])
data

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [ ]:
data.iloc[:,2:6].mean()

open     42.595458
high     43.102243
low      42.054464
close    42.601865
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [ ]:
data['month'] = (data['date']%1000)//100

data

            date ticker   open     high     low  close  volume  month
0       20090821      A  25.60  25.6100  25.220  25.55   34758      8
1       20090824      A  25.64  25.7400  25.330  25.50   22247      8
2       20090825      A  25.50  25.7000  25.225  25.34   30891      8
3       20090826      A  25.32  25.6425  25.145  25.48   33334      8
4       20090827      A  25.50  25.5700  25.230  25.54   70176      8
...          ...    ...    ...      ...     ...    ...     ...    ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561      8
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489      8
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498      8
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259      8
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792      8

[122574 rows x 8 columns]

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [ ]:
data['sum volume'] = data.groupby('ticker')['volume'].transform('sum')
data.drop_duplicates(subset=['ticker'])[['ticker', 'volume']]

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [ ]:
data = pd.read_csv('sp500hst.txt', sep = ',', names = ["date", "ticker", "open", "high", "low", "close", "volume"])
data2 = pd.read_csv('sp_data2.csv', sep = ';', names = ['ticker', 'full name', 'percent'])
data3 = data.merge(data2[['ticker', 'full name']], how = 'left')
data3

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [ ]:
recipes = pd.read_csv('recipes_sample.csv')
reviews = pd.read_csv('reviews_sample.csv', sep = ',')
reviews.rename(columns={'Unnamed: 0':'index'}, inplace = True)
print(recipes)
reviews

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id   submitted  n_steps  \
0               35193  2002-10-25      NaN
1               91970  2003-07-26      NaN
2                1533  2002-08-29      NaN
3               22724  2002-07-27      NaN
4                4470  2004-02-23      4.0
...               ...         ...      ...
29995          200862  2007-11-25     16.0
29996          177443  2009-08-24      NaN
29997          161745  2004-11-03      NaN
29998          227978  2012-08-29      NaN
29999          506822  2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]

,index,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [ ]:
print('Количество строк в таблице recipes',recipes.shape[0])
print('Количество столбцов в таблице recipes', recipes.shape[1])
print(recipes.dtypes,'\n')

print('Количество строк в таблице recipes',reviews.shape[0])
print('Количество столбцов в таблице recipes', reviews.shape[1])
print(reviews.dtypes)

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [ ]:
count_null_in_row = recipes.isnull().sum(axis=1)
num_nan_rows = len(count_null_in_row[count_null_in_row != 0])
percent = (100*num_nan_rows)/recipes.shape[0]
print('Доля строк содержащих пропуски в recipes\n',percent)

count_null_in_row = reviews.isnull().sum(axis=1)
num_nan_rows = len(count_null_in_row[count_null_in_row != 0])
percent = (100*num_nan_rows)/reviews.shape[0]
print('Доля строк содержащих пропуски в reviews\n',percent)

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [ ]:
print('recipes\n', recipes[['minutes', 'n_steps', 'n_ingredients']].mean())
print('\nreviews\n', reviews[['rating']].mean())

1.5 Создайте серию из 10 случайных названий рецептов.

In [ ]:
recipes.sample(10)

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [ ]:
reviews['index'] = reviews.index
new_reviews = reviews.to_string(index = False)
new_reviews

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [ ]:
recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)]

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [ ]:
recipes = pd.read_csv('recipes_sample.csv', parse_dates=['submitted'])
recipes.dtypes

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [ ]:
recipes[recipes['submitted'] < '2011-01-01']

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [ ]:
recipes['description_length'] = recipes['description'].fillna('').str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [ ]:
recipes['name'] = recipes['name'].str.capitalize()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

??3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [ ]:
recipes['name_word_count'] = recipes['name'].str.split().apply(len)
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,8
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,5
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,7
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,3
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,8
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,8
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,4
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,5
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,2
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [ ]:
print(recipes['contributor_id'].value_counts())
print('\nУчастник добавивший больше всего рецептов\n',recipes['contributor_id'].mode())

89831      421
37449      346
37779      345
1533       186
169430     183
          ...
1061628      1
1076183      1
429061       1
64032        1
186118       1
Name: contributor_id, Length: 8404, dtype: int64

Участник добавивший больше всего рецептов
 0    89831
dtype: int64

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [ ]:
reviews['recipe_id'].value_counts()

27208     1382
82102      708
135350     674
107786     592
50719      486
          ...
23964        1
499966       1
418761       1
430164       1
296868       1
Name: recipe_id, Length: 28100, dtype: int64

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [ ]:
recipes['submitted'].dt.year.value_counts()

2007    4429
2008    4029
2006    3473
2005    3130
2009    2963
2002    2644
2003    2334
2004    2153
2010    1538
2011     922
2012     659
2001     589
2013     490
1999     275
2014     139
2000     104
2015      42
2017      39
2016      24
2018      24
Name: submitted, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [ ]:
a = reviews[reviews['review'].notnull()][['user_id', 'recipe_id','rating']]
b = recipes[['id', 'name']]
c = b.merge(a, left_on='id', right_on='recipe_id').drop(columns = ['recipe_id'])
c[c['id'] == 56966]
#reviews[reviews['review'].isnull()]
#print(c)

Empty DataFrame
Columns: [id, name, user_id, rating]
Index: []

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [ ]:
a = recipes[['name', 'id']]
#reviews['review_count'] = reviews[reviews['review'].notnull()][['recipe_id', 'review']].groupby(by='recipe_id').count()
b = reviews[reviews['review'].notnull()].groupby(by='recipe_id')['review'].count()
m = a.merge(b, left_on ='id', right_on = 'recipe_id', how = 'left' )
m = m.rename(columns={'id':'recipe_id', 'review':'review_count'})
m.loc[m['review_count'].isnull(), 'review_count'] = 0
m[m['review_count']==0]

                                          name  recipe_id  review_count
26               pasta  with shrimp   eggplant     223349           0.0
29             secret ingredient  bbq meatloaf     342620           0.0
35           windy s  sweet and sour meatballs     276594           0.0
49     goulashy  beef stew for the slow cooker     216068           0.0
59                old bay  grilled steak fries     306590           0.0
...                                        ...        ...           ...
29871                       zingy potato salad      66966           0.0
29903       zucchini  mock green papaya  salad     249846           0.0
29905            zucchini and corn with cheese     256177           0.0
29951                       zucchini nut salad     178243           0.0
29979     zucchini with bell pepper and tomato     363362           0.0

[1900 rows x 3 columns]

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [ ]:
reviews2 = pd.read_csv('reviews_sample.csv', parse_dates=['date'])
reviews2['year'] = reviews2['date'].dt.year
f = reviews2.groupby(by='year', as_index = False)['rating'].mean()
str = f[f['rating']==f['rating'].min()]
str

    year    rating
17  2017  3.353042

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [ ]:
recipes['description_length'] = recipes['description'].fillna('').str.len()
recipes['name'] = recipes['name'].str.capitalize()
recipes['name_word_count'] = recipes['name'].str.split().apply(len)
recipes.sort_values(by='name_word_count', ascending=False)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count,description_length
26223,Subru uncle s whole green moong dal i ll be ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,15,343
28083,Tsr version of t g i friday s black bean soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,14,436
26222,Subru uncle s toor ki dal sindhi style dad m...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,14,1087
27876,Top secret recipes version of i h o p griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,14,129
5734,Chicken curry or cat s vomit on a bed of magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,13,144
...,...,...,...,...,...,...,...,...,...,...
3253,Blackmoons,323195,430,415934,2008-09-04,5.0,my mom was a newlywed in the 1950s when she fo...,NaN,1,389
4138,Bushwhacker,156521,10,177392,2006-02-17,1.0,this drink is an excellent after dinner drink ...,6.0,1,124
2357,Basbousa,12957,60,18391,2001-10-20,NaN,this is a traditional middle eastern dessert. ...,NaN,1,78
15052,Josefinas,264859,20,498271,2007-11-11,7.0,"from the junior league of corpus christi tx, t...",NaN,1,92
4710,Caramels,143615,30,212088,2005-11-02,NaN,i've been making these at christmas time for y...,6.0,1,341

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [ ]:
pip install openpyxl xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.8/dist-packages (3.0.10)
Collecting xlsxwriter
  Downloading XlsxWriter-3.0.8-py3-none-any.whl (152 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 152.8/152.8 KB 14.5 MB/s eta 0:00:00
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.8/dist-packages (from openpyxl) (1.1.0)
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.8

In [ ]:
import xlsxwriter
#c = pd.DataFrame(c)
#m = pd.DataFrame(m)
writer = pd.ExcelWriter('exelsheet.xlsx')
c.to_excel(writer, sheet_name='Рецепты с оценками')
m.to_excel(writer, sheet_name='Количество отзывов по рецептам')
writer.save()